<main>

  <form class="form" action="">
    <label for="input"></label>
    <input type="text" name="input" class="js-input input" value="">

    <input type="button" class="js-button button" value="Search">
    </input>
    <!-- <input type="button" value="LOG" class="js-logButton"> -->
  </form>
  <div class="main.container">
    <div class="serch-area">
      <ul class="js-filmsList"></ul>
    </div>
    <div class="favorite-area">
      <ul class="js-containerFavoritesList"></ul>
    </div>
  </div>
</main>