.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        &_title  {
        margin-top: 30px;
        //font-family: 'Abril Fatface', cursive;
        font-family: 'Alfa Slab One', cursive;
        text-transform: uppercase;
        font-size: 35px;
        text-shadow: 3px 3px 3px orange;
        }
}

.input    {
    height: 40px;
    width: 250px;
    background-color: black;
    border: 3px solid orange;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    color: orange;
    outline: none;
}

.button {
    font-family: 'Alfa Slab One', cursive;
    color: orange;
    background-color: black;
    border-style: none;
    border-radius: 5px;
    padding: 8px;
    outline: none;
}