body {
  height: 100vh;
  padding: 30px;
  //background-color: rgb(28, 105, 98);
  background-image: url(../images/film2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.main-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Alfa Slab One', cursive;
  color: orange;
}

.search-area  {
  margin: 20px;
  width: 70%;
  .search-title {
   font-family: 'Play', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .search-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-family: 'Play', sans-serif;
  }
  .js-list  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .js-filmTitle {
    height: 10px;
    width: 200px;
    margin-top: -115px;
    color: black;
    font-size: 20px;
    align-items: center;
    text-align: center;
  }

  .js-image{
    margin: 5px 0px 25px 10px;
    padding: 5px 2px 95px;
    border-radius: 10px;
    background-color: orange;
  }
  .js-status  {
    margin-bottom: 35px;
    color: black;
    font-size: 13px;
  }
  .js-buttonToFavorites {
    margin-top: 40px;
    background-color: black;
    border: 3px solid orange;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    color: orange;
  }
}


.favorite-area  {
  margin: 20px;
  padding: 5px;
  width: 30%;
  order: -1;
  border: 10px solid orange;
  border-radius: 8px;
  .favorite-title{
    font-family: 'Play', sans-serif;
  }
  .favorite-list  {
    margin: 15px 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
  }
  .js-favoritesList {
    width: 80%;
    border-radius: 10px;
    background-color: orange;
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .js-imageFav  {
    height: 90px;
    width: 70px;
    margin: 5px;
    border-radius: 10px;
  }
  .js-listFav {
    font-family: 'Play', sans-serif;
    color: black;
    font-size: 15px;
    align-items: center;
    text-align: center;
  }
  .js-removeFromFavorites {
    margin-top: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    font-size: 10px;
    color: orange;
    margin-bottom: 15px;
  }
}

