.body {
  height: 100vh;
  padding: 30px;
  display: grid;
  grid-template-columns: minmax(250px, auto) 1fr;
  grid-template-rows: 120px 1fr;
}

// .main.container  {
//   grid-column: 1 / 2;
//   grid-row: 1 / 2;
// }

.serch-area {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 20px;
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.js-filmsList  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 15px 5px;
  text-align: center;
}

.favorite-area  {
  grid-column: 0 / 1;
  grid-row: 0 / 1;
  padding: 20px;
  width: 30%;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-start;
  // align-content: flex-start;
  // flex-wrap: wrap;
  order: -1;
  overflow: auto;
}

.js-containerFavoritesList  {
  grid-column: 0 / 1;
  grid-row: 0 / 1;
  min-width: 150px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style:none;
}

.favouriteFilms  {
  min-width: 200px;
  margin: 15px 5px 15px 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: center;
}

.js-image {
  width: 190px;
  height: 300px;
}

.js-listFav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  width: 120px;
}

.js-imageFav  {
  height: 170px;
  width: 120px;
  margin: 5px;
  order: -1;
}

.js-button {
  margin-top: 20px;
  background-color: rgb(158, 9, 9);
  font-family: "Roboto";
  border: none;
  font-size: 15px;
  text-align: center;
  color: #ffffff; 
  padding: 5px 15px;
}

.js-input  {
  margin-top: 20px;
  padding: 10px 5px;
  background: none;
  border: none;
  border-bottom: solid 1px;
  font-family:"Roboto";
  font-size: 12px;
  font-weight: bold;
}

.js-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  width: 190px;
  margin: 8px;
  padding: 15px;
}

.js-buttonToFavorites  {
  background-color: pink;
  border: none;
  font-family: "Roboto";
  color: red;
}
